{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>

<div id="tabs">
    <ul>
        {% set i = 1 %}
        {% for row in rows.group %}
            <li><a href="#tabs-{{ i }}">{{ row }}</a></li>
            {% set i = i + 1 %}
        {% endfor %}
    </ul>

{% set j = 1 %}
{% for row in rows %}
    <div id="tabs-{{ j }}">{{ row.content }}</div>
    {% set j = j + 1 %}
{% endfor %}

</div>


{#{% if attributes -%}#}
    {#<div{{ attributes }}>#}
{#{% endif %}#}

    {#&#123;&#35;<ul {{ list.attributes }}>&#35;&#125;#}
        {#&#123;&#35;{% if title %}&#35;&#125;#}
            {#&#123;&#35;<li>{{ title }}</li>&#35;&#125;#}
        {#&#123;&#35;{% endif %}&#35;&#125;#}
    {#&#123;&#35;</ul>&#35;&#125;#}

    {#{% for row in rows %}#}
        {#<div {{ row.attributes }}>{{ row.content }}</div>#}
    {#{% endfor %}#}


{#{% if attributes -%}#}
    {#</div>#}
{#{% endif %}#}





{#<div id="tabs">#}
    {#<ul>#}
        {#{% set i = 0 %}#}
        {#{% for row in rows %}#}
            {#<li><a href=" #tabs-{{ i }} ">Tabs-{{ i }}</a></li>#}
            {#{% set i = i + 1 %}#}
        {#{% endfor %}#}


        {#&#123;&#35;<li><a href="#tabs-1">Nunc tincidunt</a></li>&#35;&#125;#}
        {#&#123;&#35;<li><a href="#tabs-2">Proin dolor</a></li>&#35;&#125;#}
        {#&#123;&#35;<li><a href="#tabs-3">Aenean lacinia</a></li>&#35;&#125;#}
    {#</ul>#}
    {#<div id="tabs-1">#}
        {#<p>content - 1</p>#}
    {#</div>#}
    {#<div id="tabs-2">#}
        {#<p>content - 1</p>#}
    {#</div>#}
    {#<div id="tabs-3">#}

    {#</div>#}
{#</div>#}
