{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{#<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">#}
{#&#123;&#35;<script src="//code.jquery.com/jquery-1.10.2.js"></script>&#35;&#125;#}
{#&#123;&#35;<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>&#35;&#125;#}
{#<link rel="stylesheet" href="/resources/demos/style.css">#}

{#<script>#}
    {#$(function() {#}
        {#$( "#tabs" ).tabs();#}
    {#});#}
{#</script>#}
<div id="tabs-container">

    <ul class="tabs-menu">
        {% set i = 1 %}
        {% for row in rows.group %}

            {% if i < 2 %}
                <li class="current"><a href="#tab-{{ i }}">{{ row }}</a></li>
            {% endif %}
        {% if i > 1 %}
            <li><a href="#tab-{{ i }}">{{ row }}</a></li>
        {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
    </ul>

<div class="tab">

{% set j = 1 %}
{% for row in rows %}

    {#{% if j < 2 %}#}
        <div class="tab-content" id="tab-{{ j }}">{{ row.content }}</div>
    {#{% endif %}#}

    {#{% if j > 1 %}#}
      {#<div id="tab-{{ j }}">{{ row.content }}</div>#}
    {#{% endif %}#}
    {% set j = j + 1 %}
{% endfor %}

</div>
</div>



{#<div id="tabs-container">#}
    {#<ul class="tabs-menu">#}
        {#<li class="current"><a href="#tab-1">Tab 1</a></li>#}
        {#<li><a href="#tab-2">Tab 2</a></li>#}
        {#<li><a href="#tab-3">Tab 3</a></li>#}
        {#<li><a href="#tab-4">Tab 4</a></li>#}
    {#</ul>#}
    {#<div class="tab">#}
        {#<div id="tab-1" class="tab-content">#}
            {#<p>Lorem ipsu.</p>#}
        {#</div>#}
        {#<div id="tab-2" class="tab-content">#}
            {#<p>Donec semper dictum sem, </p>#}

        {#</div>#}
        {#<div id="tab-3" class="tab-content">#}
            {#<p>Duis egestas fermentum ipsum et  </p>#}
        {#</div>#}
        {#<div id="tab-4" class="tab-content">#}
            {#<p>Proin sollicitudin tincidunt quam, ipharetra cursus odio. </p>#}
        {#</div>#}
    {#</div>#}
{#</div>#}