{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}

<div id="tabs">
    <ul>
        {% for row in rows.grouping %}
            <li><a href="#">{{ row }}</a></li>
        {% endfor %}
    </ul>
</div>

</hr>

{% set i = 0 %}
{% for row in rows %}
    <div id="tabs-{{ i }}">{{ row.content }}</div>
    {% set i = i + 1 %}
{% endfor %}

{#{% if attributes -%}#}
    {#<div{{ attributes }}>#}
{#{% endif %}#}

    {#&#123;&#35;<ul {{ list.attributes }}>&#35;&#125;#}
        {#&#123;&#35;{% if title %}&#35;&#125;#}
            {#&#123;&#35;<li>{{ title }}</li>&#35;&#125;#}
        {#&#123;&#35;{% endif %}&#35;&#125;#}
    {#&#123;&#35;</ul>&#35;&#125;#}

    {#{% for row in rows %}#}
        {#<div {{ row.attributes }}>{{ row.content }}</div>#}
    {#{% endfor %}#}


{#{% if attributes -%}#}
    {#</div>#}
{#{% endif %}#}





{#<div id="tabs">#}
    {#<ul>#}
        {#{% set i = 0 %}#}
        {#{% for row in rows %}#}
            {#<li><a href=" #tabs-{{ i }} ">Tabs-{{ i }}</a></li>#}
            {#{% set i = i + 1 %}#}
        {#{% endfor %}#}


        {#&#123;&#35;<li><a href="#tabs-1">Nunc tincidunt</a></li>&#35;&#125;#}
        {#&#123;&#35;<li><a href="#tabs-2">Proin dolor</a></li>&#35;&#125;#}
        {#&#123;&#35;<li><a href="#tabs-3">Aenean lacinia</a></li>&#35;&#125;#}
    {#</ul>#}
    {#<div id="tabs-1">#}
        {#<p>content - 1</p>#}
    {#</div>#}
    {#<div id="tabs-2">#}
        {#<p>content - 1</p>#}
    {#</div>#}
    {#<div id="tabs-3">#}

    {#</div>#}
{#</div>#}
